@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --ipc-blue: #103057;
  --ipc-yellow: #FFD700;
  --ipc-white: #FBFCF8;
  --ipc-gray: #777B7E;
  --ipc-black: #181818;
}

@media (prefers-color-scheme: dark) {
  :root {
    
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: var(--font-redhat-sans), Helvetica, Arial;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
